@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ===== Average ===== */

table.newTable {
  border-collapse: collapse;
  border-radius: var(--table-radius);
  border-style: hidden;
  box-shadow: rgb(100 100 111 / 30%) 3px 3px 20px 0px;
}

table.newTable thead th:first-child {
  border-top-left-radius: var(--table-radius);
}

table.newTable thead th:last-child {
  border-top-right-radius: var(--table-radius);
}

table.newTable td {
  vertical-align: middle !important;
  line-height: 1.6;
}

table.newTable td.moyennegeneralelibelle {
  border-left: 2px solid #e2e1e1;
}

.averageDisplay {
  text-align: center;
  padding: 4px 0 !important;
  color: var(--primary-color) !important;
}

.tippy-box[data-theme~='verybad'] {
  background-color: #c4290e;
}

.tippy-box[data-theme~='bad'] {
  background-color: #F84F31;
}

.tippy-box[data-theme~='neutral'] {
  background-color: #7f8285;
}

.tippy-box[data-theme~='good'] {
  background-color: #23c59d;
}

.tippy-box[data-theme~='verygood'] {
  background-color: #23C552;
}

.influence {
  padding: 4px;
  border-radius: 5px;
}

.influence-verybad {
  background-color: #c4290e20 !important;
}

.influence-bad {
  background-color: #F84F3120 !important;
}

.influence-neutral {
  background-color: #7f828520 !important;
}

.influence-good {
  background-color: #23c59d20 !important;
}

.influence-verygood {
  background-color: #23C55220 !important;
}