@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Leckerli+One:ital,wght@0,400&display=swap");
  @import url("https://fonts.cdnfonts.com/css/comic-sans");
  @import url("https://fonts.cdnfonts.com/css/opendyslexic");

  * {
    --zoom: 1;
    --vh: calc(100vh * (1 / var(--zoom)));
    --vw: calc(100vw * (1 / var(--zoom)));
  }

  html {
    height: var(--vh);
    width: var(--vw);
    overflow: hidden;
    transform: scale(var(--zoom));
    transform-origin: top left;
    -moz-transform: scale(var(--zoom));
    -moz-transform-origin: top left;
  }

  .tippy-box {
    background-color: rgb(15 23 42);
    color: white;
  }

  .tippy-arrow::before {
    color: rgb(15 23 42);
  }

  .colorSlider {
    background: linear-gradient(
      90deg,
      hsl(0, 90%, 50%),
      hsl(20, 90%, 50%),
      hsl(40, 90%, 50%),
      hsl(60, 90%, 50%),
      hsl(80, 90%, 50%),
      hsl(100, 90%, 50%),
      hsl(120, 90%, 50%),
      hsl(140, 90%, 50%),
      hsl(160, 90%, 50%),
      hsl(180, 90%, 50%),
      hsl(200, 90%, 50%),
      hsl(220, 90%, 50%),
      hsl(240, 90%, 50%),
      hsl(260, 90%, 50%),
      hsl(280, 90%, 50%),
      hsl(300, 90%, 50%),
      hsl(320, 90%, 50%),
      hsl(340, 90%, 50%),
      hsl(360, 90%, 50%)
    );
  }

  @media (width <=	800px) {
    * {
      --zoom: 0.585;
    }
  }
  @media (800px < width <=	850px) {
    * {
      --zoom: 0.6;
    }
  }
  @media (825px < width <=	875px) {
    * {
      --zoom: 0.615;
    }
  }
  @media (850px < width <=	900px) {
    * {
      --zoom: 0.63;
    }
  }
  @media (875px < width <=	925px) {
    * {
      --zoom: 0.645;
    }
  }
  @media (900px < width <=	950px) {
    * {
      --zoom: 0.66;
    }
  }
  @media (925px < width <=	975px) {
    * {
      --zoom: 0.675;
    }
  }
  @media (950px < width <=	1000px) {
    * {
      --zoom: 0.69;
    }
  }
  @media (975px < width <=	1025px) {
    * {
      --zoom: 0.705;
    }
  }
  @media (1000px < width <=	1050px) {
    * {
      --zoom: 0.72;
    }
  }
  @media (1025px < width <=	1075px) {
    * {
      --zoom: 0.735;
    }
  }
  @media (1050px < width <=	1100px) {
    * {
      --zoom: 0.75;
    }
  }
  @media (1075px < width <=	1125px) {
    * {
      --zoom: 0.765;
    }
  }
  @media (1100px < width <=	1150px) {
    * {
      --zoom: 0.78;
    }
  }
  @media (1125px < width <=	1175px) {
    * {
      --zoom: 0.795;
    }
  }
  @media (1150px < width <=	1200px) {
    * {
      --zoom: 0.81;
    }
  }
  @media (1175px < width <=	1225px) {
    * {
      --zoom: 0.825;
    }
  }
  @media (1200px < width <=	1250px) {
    * {
      --zoom: 0.84;
    }
  }
  @media (1225px < width <=	1275px) {
    * {
      --zoom: 0.855;
    }
  }
  @media (1250px < width <=	1300px) {
    * {
      --zoom: 0.87;
    }
  }
  @media (1275px < width <=	1325px) {
    * {
      --zoom: 0.885;
    }
  }
  @media (1300px < width <=	1350px) {
    * {
      --zoom: 0.9;
    }
  }
}

/* 

:root {
  --borderRadius-thin: 4px;
  --borderRadius-wide: 8px;
  --font-tahoma: Tahoma, sans-serif;
  --font-poppin: Poppin, sans-serif;
  --font-openSans: Open Sans, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --font-roboto: Roboto, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-merriweather: Merriweather, serif;
  --font-leckerliOne: Leckerli One, cursive;
  --font-comicSans: comic sans;
  --font-openDyslexic: 'OpenDyslexic', sans-serif;
  --body-color: var(--theme-body-color, #ffffff);
  --sidebar-color: var(--theme-sidebar-color, rgb(46, 106, 200));
  --primary-color: var(--light-primary-color);
  --primary-color-light: var(--dark-primary-color);
  --text-color: var(--theme-text-color, #ebebeb);
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --table-radius: 12px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One:ital,wght@0,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/comic-sans");
@import url("https://fonts.cdnfonts.com/css/opendyslexic");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  overflow: hidden;
  text-align: center;
} 
*/
